{% extends "sys/base.html" %}
{% block scripts %}
    <script>
    function getCard(channel, value, type, units, ts){
        var d = moment.utc(ts*1000);
        var html = '<div class="col-xs-12 col-md-4 col-lg-3 small_pad" id="get_temp_result_'+channel+'">';
        html += '<div class="mycard temperature">';
        html += '<div><p class="small-text">'+channel+'</p></div>';
        html += '<div class="text-right"><h1>'+parseFloat(value).toFixed(2)+'<small>'+units.charAt(0)+'</small></h1></div>';
        html += '<div><small>' + d.format('HH:mm:ss')+' UTC</small></div>';
        html += '</div>';
        return html;
    }

    function update_temperatures(){
          data = { }
        $.ajax({type: "GET",
                url: "/api/{{ module.name }}/read_channels",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(data),
                dataType: "json",
                success:function(result){
                    console.log(result);
                    var container = $("#get_temperatures_results");
                    container.empty();
                    for (var key in result) {
                        var el = result[key];
                        container.append(getCard(key, el["value"], el["tc_type"], el["units"], el["ts_utc"]));
                    };

                }});
        };

    $(document).ready(function(){
      $("#get_temperatures_button").click(function(e){
        e.preventDefault();
        update_temperatures()});
      });

    $(document).ready(function(){
      $("#configure_channel").click(function(e){
          e.preventDefault();
          data = { }
          var selected_channels = $( "select#channel_number" ).val();
          console.log(selected_channels);
          if(selected_channels){
              selected_channels.forEach(function(ch){
                  data['channel'] = ch;
                  data['tc_type'] = $( "select#channel_type option:checked" ).val();
                  data['units'] = $( "select#channel_units option:checked" ).val();
                  console.log(data);
                  $.ajax({type: "POST",
                          url: "/api/{{ module.name }}/enable_channel",
                          contentType: "application/json; charset=UTF-8",
                          data: JSON.stringify(data),
                          dataType: "json",
                          success:function(result){
                              console.log(result);
                              // Todo: add feedback of execution
                          }});
                  // update_temperatures(); -- disabled because it always returns 0
              });
          }
      });
    });

    $(document).ready(function(){
      $("#disable_channel").click(function(e){
          e.preventDefault();
          data = { }
          var selected_channels = $("select#dis_channel_number").val();
          console.log(selected_channels);
          if(selected_channels){
              selected_channels.forEach(function(ch){
                  data['channel'] = ch;
                  console.log(data);
                $.ajax({type: "POST",
                        url: "/api/{{ module.name }}/disable_channel",
                        contentType: "application/json; charset=UTF-8",
                        data: JSON.stringify(data),
                        dataType: "json",
                        success:function(result){
                            console.log(result);
                            // Todo: add feedback of execution
                        }});
                // update_temperatures(); -- disabled because it always returns 0
              });
          }
        });
    });

    $(document).ready(function(){
      $("#start_loop").click(function(e){
          e.preventDefault();
          data = { }
          var interval_seconds = $("input#interval_seconds").val();
          console.log(interval_seconds);
          if(interval_seconds){
              data['interval'] = interval_seconds;
              console.log(data);
              $.ajax({type: "POST",
                    url: "/api/{{ module.name }}/start_temp_loop",
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify(data),
                    dataType: "json",
                    success:function(result){
                      console.log(result);
                      // Todo: add feedback of execution
                    }});
          }
        });
    });

    $(document).ready(function(){
      $("#stop_loop").click(function(e){
          e.preventDefault();
          data = { }
              $.ajax({type: "POST",
                    url: "/api/{{ module.name }}/stop_temp_loop",
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify(data),
                    dataType: "json",
                    success:function(result){
                      console.log(result);
                      // Todo: add feedback of execution
                    }});
        });
    });

    </script>
{% endblock %}
{% block main %}
    <h1 class="hidden-xs-down"> PicoTech TC08 controller</h1>

    <div class="container">
        <div class="row">
            <div class="col-12"><h2>Get Temperatures</h2></div>
        </div>
        <div class="row" id="get_temperatures_results">
        </div>
        <div class="row">
            <form>
                <button type="submit" class="btn btn-primary" id="get_temperatures_button">Get Temperatures</button>
            </form>
        </div>
        <hr>
        <div class="row">
            <div class="col-12"><h2>Configure Channels</h2></div>
        </div>
        <div class="row">
            <form>
                <div class="form-group row">
                    <label for="channel_number" class="col-xs-12 col-md-3 col-lg-2 col-form-label">Select Channels</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <select multiple="true" class="form-control" style="overflow: scroll" id="channel_number">
                            <option value="0">Channel 0</option>
                            <option value="1">Channel 1</option>
                            <option value="2">Channel 2</option>
                            <option value="3">Channel 3</option>
                            <option value="4">Channel 4</option>
                            <option value="5">Channel 5</option>
                            <option value="6">Channel 6</option>
                            <option value="7">Channel 7</option>
                            <option value="8">Channel 8</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="channel_type" class="col-xs-12 col-md-3 col-lg-2 col-form-label">Channel Type</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <select class="form-control" id="channel_type">
                            <option value="B">B</option>
                            <option value="E">E</option>
                            <option value="J">J</option>
                            <option value="K">K</option>
                            <option value="N">N</option>
                            <option value="R">R</option>
                            <option value="S">S</option>
                            <option value="T" selected="selected">T</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="channel_units"  class="col-xs-12 col-md-3 col-lg-2 col-form-label">Temperature Units</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <select class="form-control" id="channel_units">
                            <option value="Centigrade">Centigrade</option>
                            <option value="Fahrenheit">Fahrenheit</option>
                            <option value="Kelvin" selected="selected">Kelvin</option>
                            <option value="Rankine">Rankine</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="configure_channel">Configure Channels</button>
            </form>
        </div>
        <hr>
        <div class="row">
            <div class="col-12"><h2>Disable Channels</h2></div>
        </div>
        <div class="row">
            <form>
                <div class="form-group row">
                    <label for="dis_channel_number" class="col-xs-12 col-md-3 col-lg-2 col-form-label">Select Channels</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <select multiple class="form-control" style="overflow: scroll" id="dis_channel_number">
                            <option value="0">Channel 0</option>
                            <option value="1">Channel 1</option>
                            <option value="2">Channel 2</option>
                            <option value="3">Channel 3</option>
                            <option value="4">Channel 4</option>
                            <option value="5">Channel 5</option>
                            <option value="6">Channel 6</option>
                            <option value="7">Channel 7</option>
                            <option value="8">Channel 8</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="disable_channel">Disable Channel</button>
            </form>
        </div>

        <hr>
        <div class="row">
            <div class="col-12"><h2>Background loop acquisition</h2></div>
        </div>
        <div class="row">
            <form>
                <div class="form-group row">
                    <label for="interval_seconds" class="col-xs-12 col-md-3 col-lg-2 col-form-label">Interval (seconds)</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <input class="form-control" type="number" value="5" id="interval_seconds">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="start_loop">Start loop</button>
                <button type="submit" class="btn btn-primary" id="stop_loop">Stop loop</button>
            </form>
        </div>



    </div>
{% endblock %}