{% extends "sys/base.html" %}
{% block scripts %}
    <script>
    function getCard(channel, value, type, units, ts){
        var d = moment.utc(ts*1000);
        var html = '<div class="col-xs-12 col-md-4 col-lg-3 small_pad" id="get_temp_result_'+channel+'">';
        html += '<div class="mycard temperature">';
        html += '<div><p class="small-text">'+channel+'</p></div>';
        html += '<div class="text-right"><h1>'+parseFloat(value).toFixed(2)+'<small>'+units.charAt(0)+'</small></h1></div>';
        html += '<div><small>' + d.format('HH:mm:ss')+' UTC</small></div>';
        html += '</div>';
        return html;
    }

    function show_status_output(output, data){
    };

    function show_status(status){
      var container = $("#show-status");
      container.empty();
      for (var key in result) {
          var el = result[key];
          container.append(getCard(key, el["value"], el["tc_type"], el["units"], el["ts_utc"]));
      };

    }
    $(document).ready(function(){
      $("#btn_get_status").click(function(e){
          e.preventDefault();

          $.ajax({type: "POST",
                url: "/api/{{ module.name }}/get_status",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(data),
                dataType: "json",
                success:function(result){
                  console.log(result);
                  if (result['status'] == 'Error'){
                    showAlert(result['result'], 'Error');
                  }else{
                    show_status(result['result']);
                  }
                },
                error:function(result){
                  console.log(result);
                  showAlert("An error happened", 'Error');
                },
           });
        });
    });

    $(document).ready(function(){
      $("#btn_connect").click(function(e){
          e.preventDefault();
          var ip = $( "input#conn_ip" ).val();
          var port = parseInt($( "input#conn_port" ).val());
          var data = {'ip':  ip,
                  'port': port};

          $.ajax({type: "POST",
                url: "/api/{{ module.name }}/connect",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(data),
                dataType: "json",
                success:function(result){
                  console.log(result);
                  if (result['status'] == 'Error'){
                    showAlert(result['result'], 'Error');
                  }else{
                    showAlert("Connected to "+ip+":"+port+"!", 'Success');
                  }
                },
                error:function(result){
                  console.log(result);
                  showAlert("An error happened", 'Error');
                },
           });
        });
    });
    $(document).ready(function(){
      $("#btn_disconnect").click(function(e){
          e.preventDefault();
          data = {};
          $.ajax({type: "POST",
                url: "/api/{{ module.name }}/disconnect",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(data),
                dataType: "json",
                success:function(result){
                  console.log(result);
                  if (result['status'] == 'Error'){
                    showAlertError(result['result']);
                  }else{
                    showAlertSuccess("Disconnected!");
                  }
                },
                error:function(result){
                  console.log(result);
                  showAlertError("An error happened");
                },
           });
        });
    });

    $(document).ready(function(){
      $("#enable_output_button").click(function(e){
        e.preventDefault();
        data = { };
        var selected_channels = $( "select#select_output" ).val();
        if ( selected_channels ){
            data['output_1'] = selected_channels.includes("1");
            data['output_2'] = selected_channels.includes("2");
            console.log(data);
            $.ajax({type: "POST",
                  url: "/api/{{ module.name }}/enable_output",
                  contentType: "application/json; charset=UTF-8",
                  data: JSON.stringify(data),
                  dataType: "json",
                    success:function(result){
                      console.log(result);
                      if (result['status'] == 'Error'){
                        showAlertError(result['result']);
                      }else{
                          showAlertSuccess("Completed command");
                      }

                    },
                    error:function(result){
                      console.log(result);
                      showAlertError("An error happened");
                    },
               });

            };
        });
      });

    $(document).ready(function(){
      $("#disable_output_button").click(function(e){
        e.preventDefault();
        var data = {};
        var selected_channels = $( "select#select_output" ).val();
        if ( selected_channels ){
            data['output_1'] = selected_channels.includes("1");
            data['output_2'] = selected_channels.includes("2");
            $.ajax({type: "POST",
                  url: "/api/{{ module.name }}/disable_output",
                  contentType: "application/json; charset=UTF-8",
                  data: JSON.stringify(data),
                  dataType: "json",
                    success:function(result){
                      console.log(result);
                      if (result['status'] == 'Error'){
                        showAlertError(result['result']);
                      }else{
                          showAlertSuccess("Completed command");
                      }
                    },
                    error:function(result){
                      console.log(result);
                      showAlertError("An error happened");
                    },
            });
        }else{
          showAlert('Select a channel', 'Info');
        };
      });
    });


    $(document).ready(function(){
      $("#btn_set_curr_limit").click(function(e){
        e.preventDefault();
        var data = { };
        var selected_channels = $( "select#select_output_vi" ).val();
        var current_limit = $( "input#current_limit_value" ).val();
        if( selected_channels ){
            selected_channels.forEach(function(output){
                var data = { };
                data['output'] = parseInt(output);
                data['current_limit'] = parseFloat(current_limit)
                $.ajax({type: "POST",
                      url: "/api/{{ module.name }}/update_curr_limit",
                      contentType: "application/json; charset=UTF-8",
                      data: JSON.stringify(data),
                      dataType: "json",
                        success:function(result){
                          console.log(result);
                          if (result['status'] == 'Error'){
                            showAlertError(result['result']);
                          }else{
                              showAlertSuccess("Completed command");
                          }
                        },
                        error:function(result){
                          console.log(result);
                          showAlertError("An error happened");
                        },
                });

            });
        }else{
          showAlert('Select a channel', 'Info');
        };
      });
    });

    $(document).ready(function(){
      $("#btn_set_voltage").click(function(e){
        e.preventDefault();
        var data = { };
        var selected_channels = $( "select#select_output_vi" ).val();
        var voltage = $( "input#voltage_value" ).val();
        if (selected_channels){
            selected_channels.forEach(function(output){
                var data = { };
                data['output'] = parseInt(output);
                data['voltage'] = parseFloat(voltage)
                $.ajax({type: "POST",
                      url: "/api/{{ module.name }}/update_voltage",
                      contentType: "application/json; charset=UTF-8",
                      data: JSON.stringify(data),
                      dataType: "json",
                        success:function(result){
                          console.log(result);
                          if (result['status'] == 'Error'){
                            showAlertError(result['result']);
                          }else{
                              showAlertSuccess("Completed command");
                          }
                        },
                        error:function(result){
                          console.log(result);
                          showAlertError("An error happened");
                        },
                });

            });
        }else{
          showAlert('Select a channel', 'Info');
        };
      });
    });

    $(document).ready(function(){
      $("#btn_set_v_and_i").click(function(e){
        e.preventDefault();
        var data = { };
        var selected_channels = $( "select#select_output_vi" ).val();
        var voltage = $( "input#voltage_value" ).val();
        var current_limit = $( "input#current_limit_value" ).val();
        if( selected_channels ){
            selected_channels.forEach(function(output){
                var data = { };
                data['output'] = parseInt(output);
                data['voltage'] = parseFloat(voltage)
                data['current_limit'] = parseFloat(current_limit)
                $.ajax({type: "POST",
                      url: "/api/{{ module.name }}/update_vi",
                      contentType: "application/json; charset=UTF-8",
                      data: JSON.stringify(data),
                      dataType: "json",
                        success:function(result){
                          console.log(result);
                          if (result['status'] == 'Error'){
                            showAlertError(result['result']);
                          }else{
                              showAlertSuccess("Completed command");
                          }
                        },
                        error:function(result){
                          console.log(result);
                          showAlertError("An error happened");
                        },
                });

            });
        }else{
          showAlert('Select a channel', 'Info');
        };
      });
    });


    </script>
{% endblock %}
{% block main %}
    <h1 class="hidden-xs-down"> TTi CPX Power Supply</h1>

    <div class="container">
      <div class="row">
          <div class="col-12"><h2>Status</h2></div>
      </div>
      <div class="row">
          <div class="col-12" id="show-status"></div>
      </div>
      <div class="row">
          <form>
              <button type="submit" class="btn btn-primary" id="btn_get_status">Get Status</button>
          </form>
      </div>

      <hr>

        <div class="row">
            <div class="col-12"><h2>Connection</h2></div>
        </div>
        <div class="row">
            <form>
                <div class="form-group row">
                    <label for="conn_ip" class="col-xs-12 col-md-3 col-lg-2 col-form-label">IP</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <input class="form-control" type="str" value="172.16.17.55" id="conn_ip">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="conn_port" class="col-xs-12 col-md-3 col-lg-2 col-form-label">Port</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <input class="form-control" type="int" value="9221" id="conn_port">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="btn_connect">Connect</button>
                <button type="submit" class="btn btn-primary" id="btn_disconnect">Disconnect</button>
            </form>
        </div>

        <hr>
        <div class="row">
            <div class="col-12"><h2>Outputs</h2></div>
        </div>
        <div class="row">
            <form>
                <div class="form-group row">
                    <label for="select_output" class="col-xs-12 col-md-3 col-lg-2 col-form-label">Select Outputs</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <select multiple="true" class="form-control" style="overflow: scroll" id="select_output">
                            <option value="1">Output 1</option>
                            <option value="2">Output 2</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="enable_output_button">Enable</button>
                <button type="submit" class="btn btn-primary" id="disable_output_button">Disable</button>
            </form>
        </div>
        <hr>

        <div class="row">
            <div class="col-12"><h2>Set Current limit and Voltage</h2></div>
        </div>
        <div class="row">
            <form>
                <div class="form-group row">
                    <label for="current_limit_value" class="col-xs-12 col-md-3 col-lg-2 col-form-label">Current limit (A)</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <input class="form-control" type="float" value="0" id="current_limit_value">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="voltage_value" class="col-xs-12 col-md-3 col-lg-2 col-form-label">Voltage (V)</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <input class="form-control" type="float" value="0" id="voltage_value">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="select_output_vi" class="col-xs-12 col-md-3 col-lg-2 col-form-label">Select Output</label>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-form-label">
                        <select multiple class="form-control" style="overflow: scroll" id="select_output_vi">
                            <option value="1">Output 1</option>
                            <option value="2">Output 2</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="btn_set_curr_limit">Set Current limit</button>
                <button type="submit" class="btn btn-primary" id="btn_set_voltage">Set Voltage</button>
                <button type="submit" class="btn btn-primary" id="btn_set_v_and_i">Set Voltage & Current limit</button>
            </form>
        </div>
        <hr>




    </div>
{% endblock %}
